@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");

* {box-sizing: border-box; margin: auto; padding: 0;}

body {font-family: "Nova Round", cursive;}

button {cursor: pointer;}

img {width: 100%; height: 100%;}

li {list-style: none;}

a {text-decoration: none;}

:root {
  --color-bg1: rgba(250,250,250,1);
  --color-bg2: #fff;
  --color-border: rgb(204, 204, 204);
  --color-text1: rgb(99, 95, 95);
  --color-text2: rgb(27, 27, 27);
  --color-text3: rgb(142,142,142,1);
  --color-text4: rgb(199, 199, 199, 1);
}



/* Navigation*/
.navbar {
  /* position: fixed; */
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  background-color: var(--color-bg2);
  border-bottom: 1px solid var(--color-border);
}

.navbar-brand {
  width: 100px;
  height: 100%;
} 

.nav-icons {
  display: flex;
  padding-left: 24px;
  white-space: nowrap;
}

.nav-icons-item a {
  color: rgb(54, 54, 54);
  font-size: 2.0em;
  margin-right: 15px;
}

.nav-icons-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Section */
.section {
  background: var(--color-bg1);
}

.main {
  width: 950px;
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  background-color: blue;
  margin-top: 80px;
}

.left-section .slide-bar {
  height: 110px;
  width: 100%;
  background-color: pink;
  margin: 30px 0;
}

.left-section .new-post {
  height: 960px;
  width: 100%;
  background-color: purple;
  margin-bottom: 60px;
}

.main .right-section {
  width: 35%;
  height: 100vh;
  position: sticky;
  top: 5em;
  margin-top: 4.5em;
  right: 0;
}

.right-section .profile {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.right-section .profile .profile-avatar {
  width: 18%;
  display: block;
  height: 100%;
}

.right-section .profile .profile-avatar img {
  border-radius: 50%;
}

.right-section .profile .username {
  width: 50%;
}

.right-section .profile a {
  width: 15%;
}

.right-section .suggestion {
  margin: 25px 0;
}

.right-section .suggestion .left {
  font-weight: 600px;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  color: var(--color-text3);
}

.right-section .suggestion a {
  color: var(--color-text2);
  font-weight: bold;
  right: 0;
  text-align: center;
}

.right-section .concern a::after {
  content: '\00B7';
  margin: 0 .25em 0 .25em;
  color: var(--color-text4);
}

.right-section .concern a, span {
  color: var(--color-text4);
}

.right-section .section-footer {
  color: var(--color-text4);
  margin: 10px 0;
  text-transform: uppercase;
}